<style>
  .custom-table th,
  .custom-table td {
    border: 2px solid white; /* Adds white borders between records */
  }

  .custom-table tr:first-child th:first-child {
    border-top-left-radius: 1.5rem;
  }

  .custom-table tr:first-child th:last-child {
    border: none;
  }

  .custom-table tr:last-child td:first-child {
    border: none;
  }

  .custom-table tr:last-child td:last-child {
    border: none;
  }

  .custom-table img {
    border-radius: 50%; /* Circular images */
    object-fit: cover; /* Ensures the images fit well */
  }
</style>
<div
  class="max-w-[75%] mx-auto p-4 bg-white shadow-lg rounded-lg flex justify-around items-center"
>
  <div class="mr-[5rem]">
    <img
      class=""
      src="https://upload.wikimedia.org/wikinews/pl/thumb/6/6c/PiS_logo.svg/1200px-PiS_logo.svg.png"
      alt="Club Logo"
      width="450"
    />
  </div>

  <div class="flex flex-col gap-4">
    <div class="mb-4">
      <h2 class="text-xl font-semibold">Club Details</h2>
    </div>

    <div class="mb-4 flex justify-start items-center">
      <label class="text-gray-700 text-sm font-bold mr-3" for="club-id"
        >ID:</label
      >
      <div id="club-id" class="bg-gray-700 text-white rounded p-2">1</div>
    </div>

    <div class="mb-4 flex justify-start items-center">
      <label class="text-gray-700 mr-3 text-sm font-bold" for="name-id"
        >Name ID:</label
      >
      <div id="name-id" class="bg-gray-700 text-white rounded p-2">PiS</div>
    </div>

    <div class="mb-4 flex justify-start items-center">
      <label class="text-gray-700 text-sm font-bold mr-4" for="name"
        >Name:</label
      >
      <div id="name" class="bg-gray-700 text-white rounded p-2">
        Klub Parlamentarny Koalicja Obywatelska - Platforma Obywatelska,
        Nowoczesna, Inicjatywa Polska, Zieloni
      </div>
    </div>

    <div class="mb-4 flex justify-start items-center">
      <label class="text-gray-700 text-sm mr-4 font-bold" for="members-count"
        >Members Count:</label
      >
      <div id="members-count" class="bg-gray-700 text-white rounded p-2">
        194
      </div>
    </div>

    <div class="mb-4 flex justify-start items-center">
      <label class="text-gray-700 text-sm mr-4 font-bold" for="email"
        >Email:</label
      >
      <div id="email" class="bg-gray-700 text-white rounded p-2">
        pisgorg.pl
      </div>
    </div>
  </div>
</div>
<div class="max-w-[85%] mx-auto mt-14">
  <table class="w-full table-auto overflow-hidden text-lg rounded-3xl">
    <thead class="text-white text-center bg-neutral-800">
      <tr>
        <th class="w-[10%] px-4 py-2">Member ID</th>
        <th class="w-[10%] px-4 py-2">Active</th>
        <th class="w-[10%] px-4 py-2">Photo</th>
        <th class="w-[34%] px-4 py-2">Name and Surname</th>
        <th class="w-[10%] px-4 py-2">Number of Votes</th>
        <th class="w-[10%] px-4 py-2">Akcje</th>
      </tr>
    </thead>
    <tbody class="text-white text-center bg-neutral-700">
      <tr>
        <td class="px-4 py-2">1</td>
        <td class="px-4 py-2">true</td>
        <td class="flex justify-center items-center px-4 py-2">
          <img
            src="https://api.sejm.gov.pl/sejm/term10/MP/148/photo-mini"
            height="50px"
            width="50px"
            alt="Error Loading Image..."
          />
        </td>
        <td class="px-4 py-2">Jarosław Kaczyński</td>
        <td class="px-4 py-2">123456</td>
        <td class="px-4 py-2">
          <a
            class="ml-10 w-10 flex items-center justify-center text-white bg-red-500 rounded-lg p-1 cursor-pointer"
          >
            <mat-icon>delete</mat-icon>
          </a>
        </td>
      </tr>
      <tr>
        <td class="px-4 py-2">1</td>
        <td class="px-4 py-2">true</td>
        <td class="flex justify-center items-center px-4 py-2">
          <img
            src="https://api.sejm.gov.pl/sejm/term10/MP/124/photo-mini"
            height="50px"
            width="50px"
            alt="Error Loading Image..."
          />
        </td>
        <td class="px-4 py-2">Jarosław Kaczyński</td>
        <td class="px-4 py-2">123456</td>
        <td class="px-4 py-2">
          <a
            class="ml-10 w-10 flex items-center justify-center text-white bg-red-500 rounded-lg p-1 cursor-pointer"
          >
            <mat-icon>delete</mat-icon>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
