<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="text-gray-800">
    <div
      class="max-w-[85rem] text-lg mx-auto p-6 bg-neutral-800 shadow-lg rounded-lg flex justify-around items-center my-8"
    >
      <img
        src="https://upload.wikimedia.org/wikinews/pl/thumb/6/6c/PiS_logo.svg/1200px-PiS_logo.svg.png"
        alt="Club Logo"
        class="w-40 h-40"
      />

      <div class="flex flex-col gap-4 text-white">
        <h2 class="text-2xl font-semibold">Club Details</h2>
        <div class="flex items-center">
          <label for="club-id" class="font-bold mr-2">ID:</label>
          <span id="club-id" class="rounded p-2">{{ club().id }}</span>
        </div>
        <div class="flex items-center">
          <label for="name-id" class="font-bold mr-2">Skrót:</label>
          <span id="name-id" class="rounded p-2">{{ club().nameId }}</span>
        </div>
        <div class="flex items-center">
          <label for="name" class="font-bold mr-2">Nazwa:</label>
          <span id="name" class="rounded p-2">{{ club().name }}</span>
        </div>
        <div class="flex items-center">
          <label for="members-count" class="font-bold mr-2"
            >Liczba Członków:</label
          >
          <span id="members-count" class="rounded p-2">{{
            club().membersCount
          }}</span>
        </div>
        <div class="flex items-center">
          <label for="email" class="font-bold mr-2">Email:</label>
          <span id="email" class="rounded p-2">{{ club().email }}</span>
        </div>
      </div>
    </div>

    <div class="max-w-6xl mx-auto mt-10">
      <input
        type="text"
        placeholder="Search"
        class="w-full bg-white text-xl px-4 py-3 border border-gray-300 rounded-md shadow focus:outline-none focus:ring-2 focus:ring-indigo-500 mb-6"
      />

      <table
        class="w-full table-auto text-2xl text-center rounded-xl overflow-hidden"
      >
        <thead class="bg-gray-800 text-white">
          <tr>
            <th class="px-6 py-3">ID Posła</th>
            <th class="px-6 py-3">Aktywny</th>
            <th class="px-6 py-3">Foteczka</th>
            <th class="px-6 py-3">Imię i Nazwisko</th>
            <th class="px-6 py-3">Liczba głosów</th>
            <th class="px-6 py-3">Akcje</th>
          </tr>
        </thead>
        <tbody class="bg-gray-700 text-white">
          @for(member of members(); track member.apiID) {
          <tr>
            <td class="px-6 py-4">{{ member.apiID }}</td>
            <td class="px-6 py-4">{{ member.active }}</td>
            <td class="px-6 py-4 flex justify-center items-center">
              <img
                [src]="'/assets/images/' + member.apiID + '-mini.jpg'"
                alt="Error Loading Image..."
              />
            </td>
            <td class="px-6 py-4">{{ member.firstLastName }}</td>
            <td class="px-6 py-4">{{ member.numberOfVotes }}</td>
            <td class="px-6 py-4">
              <div class="flex items-center justify-center gap-3">
                <a
                  class="flex items-center justify-center text-white bg-red-500 rounded-lg p-1 cursor-pointer"
                >
                  <mat-icon>delete</mat-icon>
                </a>
                <a
                  [routerLink]="['/poslowie', member.apiID]"
                  class="flex items-center justify-center text-white bg-blue-500 rounded-lg p-1 cursor-pointer"
                >
                  <mat-icon>arrow_right</mat-icon>
                </a>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </body>
</html>
