<div class="flex justify-center mt-10">
  <div class="w-[98%]">
    <input
      type="text"
      placeholder="Search"
      #filter
      (keyup)="filterResults(filter.value)"
      class="w-full bg-gray-300 text-black text-xl px-4 py-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-violet-600 mb-4"
    />
    <table
      class="w-full text-2xl text-left text-gray-500 dark:text-gray-400 rounded-2xl overflow-hidden"
    >
      <thead
        class="text-2xl text-gray-700 text-center uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="py-3 px-6">ID</th>
          <th scope="col" class="py-3 px-6">Date</th>
          <th scope="col" class="py-3 px-6">Sitting/Day</th>
          <th scope="col" class="py-3 px-6">Title</th>
          <th scope="col" class="py-3 px-6">Topic</th>
          <th scope="col" class="py-3 px-6 w-[10%]">
            Głosy (ZA/PRZECIW/WSTRZYMANE)
          </th>
          <th scope="col" class="py-3 px-6">Total Votes</th>
          <th scope="col" class="py-3 px-6">Kind</th>
          <th scope="col" class="py-3 px-6">Akcje</th>
        </tr>
      </thead>
      <tbody class="text-center">
        @for (voting of votings(); track voting.id){
        <tr class="bg-white dark:bg-gray-800 dark:border-gray-700">
          <td class="py-4 px-6">{{ voting.id }}</td>
          <td class="py-4 px-6">{{ voting.date }}</td>
          <td class="py-4 px-6">
            <span>{{ voting.sitting }}</span> /
            <span>{{ voting.sittingDay }}</span>
          </td>
          <td class="py-4 px-6">
            {{ voting.title }}
          </td>
          <td class="py-4 px-6">
            {{ voting.topic }}
          </td>
          <td class="py-4 px-6">
            <span class="text-green-500">{{ voting.yes }}</span> /
            <span class="text-red-500">{{ voting.no }}</span> /
            <span class="text-yellow-500">{{ voting.abstain }}</span>
          </td>
          <td class="py-4 px-6">{{ voting.totalVoted }}</td>
          <td class="py-4 px-6">{{ voting.kind }}</td>
          <td class="py-4 px-6">
            <div class="flex items-center justify-center gap-3">
              <a
                [routerLink]="['/glosowania', voting.id]"
                class="flex items-center justify-center text-white bg-blue-500 rounded-lg p-1 cursor-pointer"
              >
                <mat-icon>arrow_right</mat-icon>
              </a>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
